# Area of Triangle

In [3]:
a = int(input())
b = int(input())
c = int(input())

s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**0.5
print("%0.2f" %area)

5
6
7
14.70

# Quadratic Equation

In [8]:
import cmath
a = int(input())
b = int(input())
c = int(input())

d = (b**2) - (4*a*c)

sol1 =(-b -cmath.sqrt(d))/(2*a)
sol2 =(-b +cmath.sqrt(d))/(2*a)
print(sol1, sol2)

1
5
6
(-3+0j) (-2+0j)

# swap two variables

In [9]:
a = int(input())
b = int(input())

temp = 0

temp = a
a = b
b = temp
print(a, b)

3
4
4 3

# Generate Random Number

In [12]:
import random
n = random.randint(1,20)
print(n)

12

# Kilometer to Miles

In [21]:
km = float(input())

miles = km*0.621371
print("%0.2f" %miles)

2
1.24

# Fahrenheit to Celsius

In [26]:
f  = float(input())

celsius = (f-32)/1.8
print(celsius)

99.5
37.5

# Celsius to Fahrenheit

In [31]:
c = float(input())
fahrenheit = (c*1.8) + 32
print(fahrenheit)

34
93.2

# positive or negative

In [32]:
n = int(input())

if n > 0:
    print("+ve")
elif n == 0:
    print("0")
elif n < 0:
    print("-ve")
else:
    print("enter valid input!")

-1
-ve

# Leap Year

In [1]:
num = int(input())

if (num%4 == 0) and (num%100 != 0) or (num%400 == 0):
    print("leap year")
else:
    print("no leap year")

no leap year

# odd or even

In [2]:
def func(num):
    if num%2 == 0:
        return "even"
    return "odd"

num = int(input())
res = func(num)
print(res)

even

# Largest Among all three

In [2]:
def func(a, b, c):
    if a > b and a>c:
        return "a is greater"
    elif b>a and b>c:
        return "b is greater"
    elif c>a and c > b:
        return "c is greater"

a = int(input())
b = int(input())
c = int(input())
res = func(a,b,c)
print(res)

c is greater

# Check Prime Number

In [11]:
n = int(input())

flag = 0

if n> 1:
    for i in range(2,n):
        if n%i == 0:
            flag = 1
            break
if flag:
    print("not prime number")
else:
    print("prime number")

### using for...else loop

# n > 1:
# for i in range(2,n):
#    if n%i == 0:
#       print("no prime number")
#   else:
#       print("prime number")
#else:
#    print("no prime")

prime number

# Prime number in interval

In [17]:
low = int(input())
upper = int(input())

for num in range(low, upper+1):
    if num > 1:
        for i in range(2, num):
            if num%i == 0:
                # print("no prime number")
                break
        else:
            print(num, end=" ")

2 3 5 7 11 13 17 19

# Factorial Number

In [27]:
n = int(input())
fact = 1

if n < 1:
    print("can't find factorial")
else:
    for i in range(1,n+1):
        fact = fact*i
    
    print(fact)

can't find factorial

# Multiplication Table

In [30]:
def func(n):

    for i in range(1,11):
        print(n, 'x', i, '=', n*i)

n = int(input())
func(n)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# Fibonacci Sequence

In [35]:
def func(n):
    a = 0
    b = 1
    c = 0

    if n == 1:
        print(a)
    else:
        print(a,end=" ")
        print(b, end=" ")
        for i in range(2,n):
            c = a+b
            a = b
            b = c
            print(c, end= " ")

n = int(input())
func(n)

0 1 1 2 3 5 8 13 21 34

# Fibonacci upto n using while loop

In [44]:
def func(n):
    a = 0
    b = 1
    count = 0
    temp = 0
    
    while count < n+1:
        print(a, end=" ")
        temp = a+b
        a = b
        b = temp
        count = count+1

n = int(input())
func(n)

0 1 1 2 3 5 8

# Check Armstrong Number

In [53]:
def func(n):

    sum_ = 0
    temp = n
    while n > 0:
        digit = n%10
        sum_ += digit**3
        n //= 10
    
    if temp == sum_:
        print("Armstrong Number")
    else:
        print("Not Armstrong Number")

n = int(input())
func(n)

# dummy inputs 407, 153 are armstrong number
# 663, 154 are not armstrong number

Armstrong Number

# Armstrong Number in Interval

In [63]:
def func(low,up):

    for num in range(low, up+1):

        order = len(str(num))

        sum = 0
        temp = num
        while num > 0:
            digit = num%10
            sum += digit**order
            num //= 10

        if temp == sum:
            print(temp, end=" ") 

low = int(input())
up = int(input())
func(low, up)

153 370 371 407

# Sum of Natural Numbers

In [66]:
def func(n):

    sum = 0
    while n> 0:
        sum += n
        n -= 1
    return sum

n = int(input())
res = func(n)
print(res)

# can solve this problem using n*(n+1)/2
# For example, if n = 16, the sum would be (16*17)/2 = 136.

15

# Decimal to Binary

In [68]:
def func(n):
    if n>1:
        func(n//2)
    print(n%2, end="")

n = int(input())
func(n)

101

# Binary to Decimal

In [2]:
def func(n):

    decimal = 0
    i = 0
    while n != 0:
        dec = n%10
        decimal = decimal + dec*pow(2,i)
        n //= 10
        i += 1
    print(decimal)

n = int(input())
func(n)